Cannot open files containing a comma in Chrome

Create or upload a file containing a comma and at least one space or other character that would be rawurlencoded to a %-hex code. Browse to the location of the file and double click on it with the Chrome browser. An error message appears: ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_DISPOSITION

After a bit of research it seems this issue is caused by the filename not being surrounded with double quotes in the Content-Disposition header. Ref: http://stackoverflow.com/questions/13578428/duplicate-headers-received-from-server

In the code, it would be in the php/elFinder.class.php file. There is however quite a lot of logic in coding this filename and since I do not know the context for all this logic I am hesitant in changing anything.




@nganivet [RFC 6266](https://tools.ietf.org/html/rfc6266) is applied to the Chrome in the current version. The [actual code](https://github.com/Studio-42/elFinder/blob/master/php/elFinder.class.php#L1376-L1388) is as follows. Please check the latest version or nightly build.

```php
$filenameEncoded = rawurlencode($file['name']);
if (strpos($filenameEncoded, '%') === false) { // ASCII only
	$filename = 'filename="'.$file['name'].'"';
} else {
	$ua = $_SERVER['HTTP_USER_AGENT'];
	if (preg_match('/MSIE [4-8]/', $ua)) { // IE < 9 do not support RFC 6266 (RFC 2231/RFC 5987)
		$filename = 'filename="'.$filenameEncoded.'"';
	} elseif (strpos($ua, 'Chrome') === false && strpos($ua, 'Safari') !== false && preg_match('#Version/[3-5]#', $ua)) { // Safari < 6
		$filename = 'filename="'.str_replace('"', '', $file['name']).'"';
	} else { // RFC 6266 (RFC 2231/RFC 5987)
		$filename = 'filename*=UTF-8\'\''.$filenameEncoded;
	}
}
```

@nao-pon yes, I have the exact same code on my server, and Chrome is unable to open a file containing a comma and a space. Renaming the file without the comma fixes the issue. My guess is that we should apply the same workaround as for Safari in the Chrome case (ie. remove the strpos($ua, 'Chrome') === false in the previous test), but I lack the context of the initial tests to make that change.

I made test file (a' b”.txt) into http://hypweb.net/elFinder-nightly/demo/2.1/#elf_l1_VGlwcy9Gb3JDaGVjaw . Could you try download a file `a' b”.txt` with Chrome?

We need a comma, not an apostrophe. So the file needs to be name 'a, b".txt for example.

Oh, sorry. I renamed it.

OK, it is working on your server, but not on mine.

I am using elFinder embedded into Drupal with https://www.drupal.org/project/elfinder. Is this module using another entry path in elFinder to display files? I am noticing that the pop-up window contains the URL /elfinder/connector rather than the direct path to the file as on a plain install of elFinder.

Anyways I am going to open an issue with the Drupal module, so you can probably close this one.

Yes, I think this problem is Drupal module issue probably.

Thanks!